body {
  box-sizing: 0;
  margin: 0;
  background: #222;
  font-family: system-ui;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.App {
  display: flex;
  justify-content: center;
}

h2, h4, p {
  color: rgb(0, 231, 239);
  text-align: center;
}

.form {
  background-color: #f2f2f2;
  width: 300px;
  padding: 2rem;
  border-radius: 20px;
  margin-top: 5rem;
}

.reclamoHecho {
  background-color: #f2f2f2;
  width: 80vw;
  padding: 2rem;
  border-radius: 20px;
  margin-top: 5rem
}



.form label {
  color: black;
  font-weight: 600;
  padding-bottom: 0.9rem;
  box-sizing: border-box;
}

input, .select {
  border: 1px solid rgb(0, 231, 239);
  border-radius: 10px;
  height: 30px;
  margin: 10px 0;
}

.input:focus{
  border: 1px solid rgb(0, 231, 239);
}

.btn {
  background-color: rgb(0, 231, 239);
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}

.inputImagen {
  border: 1px solid rgb(0, 231, 239);
  display: inline-block;
  padding: 12px 12px 6px;
  cursor: pointer;
}

input[type="file"] {
  background-color: #fff!important;
}

input[type=file]::file-selector-button {
  background-color: rgb(0, 231, 239);
  color: #fff;
  cursor: pointer;
  border: 1px solid rgb(0, 231, 239);
  font-size: 16px;
  border-radius: 10px;
}

input[type=file]::file-selector-button:hover {
  background-color: #222;
}

select {
  background-color: white;
  color: #222;
  border: 1px solid #222;
  font-size: 16px;
  border-radius: 10px;
  outline: none;
}
.btn:hover{
  background-color: #222;
}

.cards-container {
  display: flex;
  justify-content: center;
}

.cards{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f2f2f2;
  width: 200px;
  height: 200px;
  text-align: center;
  padding: 2rem;
  border-radius: 20px;
  margin: 2rem;
  cursor: pointer;
}

.cards h2:hover{
  color:#222

}



.modal {
  max-width: 80vw;
  box-shadow: 0 4px 14px 0 rgb(0 0 0 / 50%);
  min-height: 150px;
  margin: 0 auto;
  padding: 10px;
background: white;
border-radius: 10px;
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
}



@media all and (max-width:599px){
  .reclamos-container{
    width: 300px; 
  } .form {
    max-width: 200px;
  } .App {
    flex-direction: column;
    justify-content: center;
    padding-top: 5rem;
  }
}